extends layout

block content
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href='#') Start Bootstrap
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') Services
          li.nav-item
            a.nav-link(href='#') Contact
  // Page Content
  .container
    .row
      .col-lg-3
        h1.my-4 Shop Name
        .list-group
          a.list-group-item(href='#') Category 1
          a.list-group-item(href='#') Category 2
          a.list-group-item(href='#') Category 3
      // /.col-lg-3
      .col-lg-9
        #carouselExampleIndicators.carousel.slide.my-4(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
            li(data-target='#carouselExampleIndicators' data-slide-to='1')
            li(data-target='#carouselExampleIndicators' data-slide-to='2')
          .carousel-inner(role='listbox')
            .carousel-item.active
              img.d-block.img-fluid(src='http://placehold.it/900x350' alt='First slide')
            .carousel-item
              img.d-block.img-fluid(src='http://placehold.it/900x350' alt='Second slide')
            .carousel-item
              img.d-block.img-fluid(src='http://placehold.it/900x350' alt='Third slide')
          a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
        .row
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href='#')
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='#') Item One
                h5 $24.99
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star;
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href='#')
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='#') Item Two
                h5 $24.99
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star;
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href='#')
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='#') Item Three
                h5 $24.99
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star;
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href='#')
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='#') Item Four
                h5 $24.99
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star;
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href='#')
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='#') Item Five
                h5 $24.99
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star;
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href='#')
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='#') Item Six
                h5 $24.99
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star;
        // /.row
      // /.col-lg-9
    // /.row
    .container
      #main_map
  // /.container
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Your Website 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/map.js')
