extends ../layout

block content
    a(href='/usuarios') Regresar

    hr

    h1 Registrarse

    hr

    form(action='/usuarios/create ' method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text' name ='nombre' value= usuario.nombre class= errors.nombre ? 'is-invalid' : '' placeholder='Ingrese nombre')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
        .form-group
            label(for='email') Email:
            input#email.form-control(type='text' name ='email' value= usuario.email class= errors.email ? 'is-invalid' : '' placeholder='Ingrese correo electronico')
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message
        .form-group
            label(for='pswd') Contraseña:
            input#pswd.form-control(type='password' name ='password' value= usuario.password class= errors.password ? 'is-invalid' : '' placeholder='Ingrese contraseña')
            if errors.password
                small#passwordHelp.text-danger
                    = errors.password.message
        .form-group
            label(for='confirm_pswd') Confirmar contraseña:
            input#confirm_pswd.form-control(type='password' name ='confirm_password' class= errors.confirm_password ? 'is-invalid' : '' placeholder='Confirmar contraseña')
            if errors.confirm_password
                small#confirm_passwordHelp.text-danger
                    = errors.confirm_password.message
        br
        br
        button.btn.btn-success(type='submit') Registrarse
