extends ../layout

block content
  a.btn.btn-success(href="/usuarios/create") Nuevo Usuario
  br
  br
  br
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Nombre
        th(scope='col') Email
        th(scope='col') Verificado
        th(scope='col')
        th(scope='col')
      tbody
        each user in usuarios
          tr
            td(scope='row') 
              = user.id
            td= user.nombre
            td= user.email
            td= user.verificado ? 'SI' : 'NO'
            td
              a.btn.btn-warning(href='usuarios/'+ user.id + '/update') Editar
            td
              form.inline(method='post' action='usuarios/'+user.id+'/delete')
                input(type="hidden" name="id" value=user.id)
                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')
                  = 'Eliminar'
