extends ../layout

block content
    a(href='/usuarios') Regresar

    hr

    h1 Actualizar Usuario

    hr

    form(action='/usuarios/'+usuario.id+'/update' method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text' name ='nombre' value= usuario.nombre class= errors.nombre ? 'is-invalid' : '' placeholder='Ingrese nombre')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
        br
        br
        button.btn.btn-success(type='submit') Actualizar Usuario
