extends ../layout

block content
    a(href='/bicicletas') Regresar

    hr

    h1 Nueva Bicicleta

    hr

    form(action='/bicicletas/create' method='post')
        .form-group
            label(for='id') ID:
            input#id.form-control(type='text' name ='id' placeholder='id')
        .form-group
            label(for='color') Color
            input#color.form-control(type='text' name ='color' placeholder='color')
        .form-group
            label(for='modelo') Modelo
            input#modelo.form-control(type='text' name ='modelo' placeholder='modelo')
        .form-group
            label(for='latitud') Latitud
            input#latitud.form-control(type='text' name ='lat' placeholder='latitud')
        .form-group
            label(for='longitud') Longitud
            input#longitud.form-control(type='text' name ='long' placeholder='longitud')
        button.btn.btn-success(type='submit') Registrar Bicicleta
