extends ../layout

block content
  a.btn.btn-success(href="/bicicletas/create") Crear Bicicleta
  br
  br
  br
  table.table
    thead
      tr
        th(scope='col') id
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col')
        th(scope='col')
      tbody
        each bici in bicis
          tr
            td(scope='row')
              = bici.idBici
            td= bici.color
            td= bici.modelo
            td= bici.ubicacion
            td
              a.btn.btn-warning(href='bicicletas/'+ bici.idBici + '/update') Editar
            td
              form.inline(method='post' action='bicicletas/'+bici.idBici+'/delete')
                input(type="hidden" name="id" value=bici.idBici)
                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')
                  = 'Eliminar'
