extends ../layout

block content
    a(href='/bicicletas') Regresar

    hr

    h1 Actualizar Bicicleta

    hr

    form(action='/bicicletas/'+bici.idBici+'/update' method='post')
        .form-group
            label(for='id') ID:
            input#idBici.form-control(type='text' name ='idBici' placeholder='id' value=bici.idBici)
            input#id.form-control(type='hidden' name ='id' placeholder='id' value=bici.id)
        .form-group
            label(for='color') Color
            input#color.form-control(type='text' name ='color' placeholder='color' value=bici.color)
        .form-group
            label(for='modelo') Modelo
            input#modelo.form-control(type='text' name ='modelo' placeholder='modelo' value=bici.modelo)
        .form-group
            label(for='latitud') Latitud
            input#latitud.form-control(type='text' name ='lat' placeholder='latitud' value=bici.ubicacion[0])
        .form-group
            label(for='longitud') Longitud
            input#longitud.form-control(type='text' name ='long' placeholder='longitud' value=bici.ubicacion[1])
        button.btn.btn-success(type='submit') Actualizar Bicicleta
